<div class="node {% if 'trié' in node.label %}run-sorted{% endif %} {% if 'Fusion' in node.label %} flash-fusion{% endif %}">
    {{ node.label }}<br>
    <small>
        {% for num in node.array %}
            {% if num in node.inserted %}
                <span class="num-inserted">{{ num }}</span>
            {% else %}
                {{ num }}
            {% endif %}
        {% endfor %}
    </small>

    {% if node.children %}
    <div class="children">
        {% for child in node.children %}
            {% include "matrix_structures/node.html" with node=child %}
        {% endfor %}
    </div>
    {% endif %}
</div>
